body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
	height: 100%;
}

#actionbarnav {
	/* 	 background-color: #EF0000 !important;
    border-color:  #1268F3 !important; */
	
}

.container-fluid {
	width: 100%;
	height: 50px;
	display: inline-block;
}

.navbar-header {
	margin-right: -15px !important;
	margin-left: -15px !important;
}

#actionbariconimg {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
}

#actionbariconclass {
	width: 50px;
	height: 50px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#Checkpoint {
	width: 100%;
	height: 50px;
	margin-top: -50px;
	text-align: center;
	line-height: 50px;
}

#Checkpoint font {
	color: #000000;
	font-size: 20px;
}

#body_top {
	width: 100%;
	margin-right: 0 !important;
	margin-left: 0 !important;
	text-align: center;
}

#body_top_left {
	margin-top: 10px;
	margin-bottom: 20px;
}

#body_top_right {
	margin-top: 10px;
	margin-bottom: 20px;
}

#image_url {
	width: 100%;
	height: auto;
}

#scope {
	width: 100%;
	height: 65px;
}

.col-md-12 {
	padding-right: 0 !important;
	padding-left: 0 !important;
	width: 100%;
	height: 50px !important;
}

#ranking {
	width: 100%;
	height: 65px;
}

#Prompt {
	width: 100%;
	height: 65px;
	text-align: center;
}

#support {
	width: 100%;
	height: 65px;
}

#other2 {
	width: 100%;
	height: 65px;
	margin-left: -1px;
	margin-top: 64px;
}

#input_message {
	width: 100%;
	height: 30px;
	margin-top: 5px;
	text-align: center;
	margin-top: 5px;
}

.input_font {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #c0c0c0;
	
}

#select_message {
	
	width: 100%;
	margin-top: 5px;
	text-align: center;
}

.select_font {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #c0c0c0;
	margin-top: 3px;
	margin-left: 3px;
}